body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    width: 100%;
}

main {
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 240px;
}

nav > ul {
    list-style-type: none;
    display: inline-block;
}

footer {
    color: #888;
    font-size: small;
}

.debug {
    border: 2px solid red;
    background-color: #F002;
    padding: 4px;
    display:none;
}

.info {
    color: #0008;
}

.input {
    border-radius: 8px;
    border: 1px solid #646cff44;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-right: 4px;
}

.input:hover:enabled {
    border-color: #646cff;
}

.input:focus,
.input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#listContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cols-both {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cols-left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.cols-right {
    grid-column-start: 2;
    grid-column-end: 3;
}

.shoppingList {
    list-style-type: none;
    padding: 4px;
}

.listItem {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 11fr 4fr;
    border-bottom: 1px dashed #008080FF;
}

.listItemName {
    margin: auto 0;
    grid-column-start: 2;
    grid-column-end: 3;
}

.listItemRemove {
    grid-column-start: 3;
    grid-column-end: 4;
}

#shoppingList {
    max-width: 800px;
    border: 2px solid teal;
    border-radius: 5px;
    padding: 8px;
    background-color: #00808020;
}

.struckOut {
    text-decoration: line-through;
    color: #0008;
}

.listItemStrike {
    margin: auto 0;
}